@page "/ApplicationUser/Create"
<h3>ApplicationUser</h3>
<LoadingIndicator IsLoading="IsLoading"></LoadingIndicator>
<EditForm Model="@this.Model" OnValidSubmit="OnValidSubmitAsync">
<div class="mb-3">
<DataAnnotationsValidator></DataAnnotationsValidator>
<ValidationSummary></ValidationSummary>
</div>
<div class="mb-3">
<label class="form-label">@nameof(Model.Name)</label>
<InputText class="form-control" @bind-Value="Model.Name"/>
</div>
<div class="mb-3">
<label class="form-label">@nameof(Model.Lastname)</label>
<InputText class="form-control" @bind-Value="Model.Lastname"/>
</div>
<div class="mb-3">
<label class="form-label">@nameof(Model.Email)</label>
<InputText class="form-control" @bind-Value="Model.Email"/>
</div>
<div class="mb-3">
<label class="form-label">@nameof(Model.BirthDate)</label>
<InputDateTime class="form-control" @bind-Value="@Model.BirthDate" />
</div>
<div class="mb-3">
<label class="form-label">@nameof(Model.TestIntId)</label>
<InputNumber class="form-control" @bind-Value="Model.TestIntId"/>
</div>
<div class="mb-3">
<label class="form-label">@nameof(Model.TestLongId)</label>
<InputNumber class="form-control" @bind-Value="Model.TestLongId"/>
</div>
<div class="mb-3">
<label class="form-label">@nameof(Model.TestDoubleId)</label>
<InputNumber class="form-control" @bind-Value="Model.TestDoubleId"/>
</div>
<div class="mb-3">
<label class="form-label">@nameof(Model.TestDecimalId)</label>
<InputNumber class="form-control" @bind-Value="Model.TestDecimalId"/>
</div>
<div class="mb-3">
<label class="form-check-label">@nameof(Model.IsApproved)</label>
<InputCheckbox class="form-check-input" @bind-Value="Model.IsApproved"/>
</div>
<div class="mb-3">
<button class="btn btn-primary" type="submit">Submit</button>
</div>
</EditForm>
