<h3>@("ApplicationUser".Pluralize().Humanize().Titleize())</h3>
<LoadingIndicator IsLoading="IsLoading"></LoadingIndicator>
<div class="mb-3">
<button type="button" class="btn btn-info rounded-circle"
@onclick="@(() => NavigationHelper.NavigateToCreatePageForEntity(this.NavigationManager,"ApplicationUser"))"
data-bs-toggle="tooltip" data-bs-placement="top"
title="Create ApplicationUser">
<i class="bi bi-plus-circle-fill" style="font-size:large"></i>
</button>
</div>
<div class="mb-3">
@if (this.AllApplicationUser != null)
{
foreach (var singleApplicationUser in this.AllApplicationUser)
{
<ul class="list-group">
<li class="list-group-item">
<ul class="list-group">
<li class="list-group-item">
<label class="form-label"><strong>@(nameof(singleApplicationUser.ApplicationUserId).Humanize().Titleize())</strong></label>
<span>@singleApplicationUser.ApplicationUserId</span>
</li>
<li class="list-group-item">
<label class="form-label"><strong>@(nameof(singleApplicationUser.Name).Humanize().Titleize())</strong></label>
<span>@singleApplicationUser.Name</span>
</li>
<li class="list-group-item">
<label class="form-label"><strong>@(nameof(singleApplicationUser.Lastname).Humanize().Titleize())</strong></label>
<span>@singleApplicationUser.Lastname</span>
</li>
<li class="list-group-item">
<label class="form-label"><strong>@(nameof(singleApplicationUser.Email).Humanize().Titleize())</strong></label>
<span>@singleApplicationUser.Email</span>
</li>
<li class="list-group-item">
<label class="form-label"><strong>@(nameof(singleApplicationUser.BirthDate).Humanize().Titleize())</strong></label>
<span>@singleApplicationUser.BirthDate</span>
</li>
<li class="list-group-item">
<label class="form-label"><strong>@(nameof(singleApplicationUser.ProfileImageUrl).Humanize().Titleize())</strong></label>
<img class="img-fluid" src="@singleApplicationUser.ProfileImageUrl" />
</li>
</ul>
<button type="button" @onclick="@( async () => await DeleteApplicationUserAsync(singleApplicationUser))">X</button>
</li>
</ul>
}
}
</div>
