<h3>ApplicationUserApplicationRole</h3>
<LoadingIndicator IsLoading="IsLoading"></LoadingIndicator>
<EditForm Model="@this.Model" OnValidSubmit="OnValidSubmitAsync">
<div class="mb-3">
<DataAnnotationsValidator></DataAnnotationsValidator>
<ValidationSummary></ValidationSummary>
</div>
@if (this.ApplicationUserModelItems != null)
{
<div class="mb-3">
<label class="form-label">@nameof(Model.ApplicationUserId)</label>
<InputSelect class="form-control" @bind-Value="Model.ApplicationUserId">
@foreach (var singleApplicationUserItem in this.ApplicationUserModelItems)
{
<option value="@singleApplicationUserItem.ApplicationUserId">@singleApplicationUserItem.Name</option>
}
</InputSelect>
</div>
}
@if (this.ApplicationRoleModelItems != null)
{
<div class="mb-3">
<label class="form-label">@nameof(Model.ApplicationRoleId)</label>
<InputSelect class="form-control" @bind-Value="Model.ApplicationRoleId">
@foreach (var singleApplicationRoleItem in this.ApplicationRoleModelItems)
{
<option value="@singleApplicationRoleItem.ApplicationRoleId">@singleApplicationRoleItem.RoleName</option>
}
</InputSelect>
</div>
}
<div class="mb-3">
<button class="btn btn-primary" type="submit">Submit</button>
</div>
</EditForm>
