<h3>@("ApplicationUserApplicationRole".Pluralize().Humanize().Titleize())</h3>
<LoadingIndicator IsLoading="IsLoading"></LoadingIndicator>
<div class="mb-3">
<button type="button" class="btn btn-info rounded-circle"
@onclick="@(() => NavigationHelper.NavigateToCreatePageForEntity(this.NavigationManager,"ApplicationUserApplicationRole"))"
data-bs-toggle="tooltip" data-bs-placement="top"
title="Create ApplicationUserApplicationRole">
<i class="bi bi-plus-circle-fill" style="font-size:large"></i>
</button>
</div>
<div class="mb-3">
@if (this.AllApplicationUserApplicationRole != null)
{
foreach (var singleApplicationUserApplicationRole in this.AllApplicationUserApplicationRole)
{
<ul class="list-group">
<li class="list-group-item">
<ul class="list-group">
<li class="list-group-item">
<label class="form-label"><strong>@(nameof(singleApplicationUserApplicationRole.ApplicationUserApplicationRoleId).Humanize().Titleize())</strong></label>
<span>@singleApplicationUserApplicationRole.ApplicationUserApplicationRoleId</span>
</li>
<li class="list-group-item">
<label class="form-label"><strong>@(nameof(singleApplicationUserApplicationRole.ApplicationUserId).Humanize().Titleize())</strong></label>
<span>@singleApplicationUserApplicationRole.ApplicationUserId</span>
</li>
<li class="list-group-item">
<label class="form-label"><strong>@(nameof(singleApplicationUserApplicationRole.ApplicationRoleId).Humanize().Titleize())</strong></label>
<span>@singleApplicationUserApplicationRole.ApplicationRoleId</span>
</li>
</ul>
<button type="button" @onclick="@( async () => await DeleteApplicationUserApplicationRoleAsync(singleApplicationUserApplicationRole))">X</button>
</li>
</ul>
}
}
</div>
