<h3>@("ApplicationRole".Pluralize().Humanize().Titleize())</h3>
<LoadingIndicator IsLoading="IsLoading"></LoadingIndicator>
<div class="mb-3">
<button type="button" class="btn btn-info rounded-circle"
@onclick="@(() => NavigationHelper.NavigateToCreatePageForEntity(this.NavigationManager,"ApplicationRole"))"
data-bs-toggle="tooltip" data-bs-placement="top"
title="Create ApplicationRole">
<i class="bi bi-plus-circle-fill" style="font-size:large"></i>
</button>
</div>
<div class="mb-3">
@if (this.AllApplicationRole != null)
{
foreach (var singleApplicationRole in this.AllApplicationRole)
{
<ul class="list-group">
<li class="list-group-item">
<ul class="list-group">
<li class="list-group-item">
<label class="form-label"><strong>@(nameof(singleApplicationRole.ApplicationRoleId).Humanize().Titleize())</strong></label>
<span>@singleApplicationRole.ApplicationRoleId</span>
</li>
<li class="list-group-item">
<label class="form-label"><strong>@(nameof(singleApplicationRole.RoleName).Humanize().Titleize())</strong></label>
<span>@singleApplicationRole.RoleName</span>
</li>
<li class="list-group-item">
<label class="form-label"><strong>@(nameof(singleApplicationRole.RoleDescription).Humanize().Titleize())</strong></label>
<span>@singleApplicationRole.RoleDescription</span>
</li>
</ul>
<button type="button" @onclick="@( async () => await DeleteApplicationRoleAsync(singleApplicationRole))">X</button>
</li>
</ul>
}
}
</div>
