<h3>ApplicationRole</h3>
<LoadingIndicator IsLoading="IsLoading"></LoadingIndicator>
<div class="mb-3">
<button type="button" class="btn btn - info rounded - circle"
@onclick="@(() => NavigationHelper.NavigateToCreatePageForEntity(this.NavigationManager,"ApplicationRole"))"
data-bs-toggle="tooltip" data-bs-placement="top"
title="Create ApplicationRole">
<i class="bi bi-plus-circle-fill" style="font-size:large"></i>
</button>
</div>
<div class="mb-3">
@if (this.AllApplicationRole != null)
{
foreach (var singleApplicationRole in this.AllApplicationRole)
{
<ul class="list-group">
<li class="list-group-item">
@nameof(singleApplicationRole.ApplicationRoleId):@singleApplicationRole.ApplicationRoleId <br>
@nameof(singleApplicationRole.RoleName):@singleApplicationRole.RoleName <br>
@nameof(singleApplicationRole.RoleDescription):@singleApplicationRole.RoleDescription <br>
<button type="button" @onclick="@( async () => await DeleteApplicationRoleAsync(singleApplicationRole))">X</button>
</li>
</ul>
}
}
</div>
